/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input, select, textarea {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  background-color: black;
  color: white;
  border: 2px solid #45A29E;
}

button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #181818; 
  color: white;
  border-radius: 4px;
  border: 2px solid #45A29E;
  margin: 0 1em 0 12px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

h2 {
  text-align: center;
}

.notes {
  display: block;
  position: absolute;
  left: 880px;
  top: 160px;
  height: 346px; 
  width: 480px;
}

.notes label {
  height: 100%;
  width: 100%;
}

.notes textarea {
  height: 100%;
  width: 100%;
}

.detail-component {
  width: 15%;
  margin: auto;
  min-width: 550px;
}

@media (max-width: 1024px) {
  h2 {
    text-align: left;
  }
  .notes {
    display: block;
    position: static;
    height: 60vh;
    width: 80vw;
  }
  button {
    margin-top: 5vh;
  }
}