/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}
nav {
  text-align: center;
  margin-bottom: 1em;
}
nav a, button {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #181818; 
  color: #C5C6C7;
  border-radius: 4px;
  border: 1px solid #45A29E;
}
nav a:visited, a:link, button:visited, button:link {
  color: white;
}
nav a:hover, nav button:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}