/* HeroSearch private styles */

.search-result li {
  margin: auto;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: #3f525c;
  cursor: pointer;
  list-style-type: none;
}
  
.search-result li:hover {
  background-color: #607D8B;
  color: white;
}

.search-result li a {
  color: white;
  display: block;
  text-decoration: none;
}

.search-result li a:active {
  color: white;
}

#search-box {
  width: 200px;
  height: 20px;
  display: block;
  margin: auto;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

h4 {
  text-align: center;
}

input {
  background-color: black;
  color: white;
  border: 2px solid #45A29E;
}

#search-box {
  width: 15%;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  #search-box {
    width: 40%;
  }
}